*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background: #171717;
}
.container{
    margin: 0 auto;
    width: 1465px;
}

.header-wrapp{
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}
.header-btn , .client-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    background-color: #000;
}
.client-btn{
    width: 180px;
    height: 50px;
}

.header-link, .client-link{
    color: #E4B564;
    font-family: Ballet;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.external{
    /* max-height: 700px; */
    padding: 89px 0 161px 0;
}

.external-title , .park-title , .client-title{
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}
.external-subtitle{
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 43px;
}

.external-wrapp{
    margin-top: 41px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 200px);
}
.external-item-1,.external-item-2, .external-item-3 , .external-item-4 , .external-item-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background: #634F2C;
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.external-item-2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background: #B4A385;
}
.external-item-3{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    background: #E4B564;
}
.external-item-4{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;

    background: #635A4A;

}

.external-item-5{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.park-descr{
    margin-top: 44px;
    margin-left: 50px;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.park-wrapp{
    margin-top: 138px;
    display: grid;
    gap: 29px;
    grid-template-columns: 467px 467px 467px ;
    grid-template-rows: 255px 29px 97px 129px 277px  ;
}

.park-item-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    background: #0E0E0E;
}
.park-item-2{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;

    background: #242424;
}

.park-item-3{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    background: #1F1F1F;
}

.park-item-4{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 6;

    background: #1F1F1F;
}

.park-item-5{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 6;

    background: #E4B564;
}

.park-item-6{
    grid-column-start: 3;
    grid-row-start: 5;
    grid-row-end: 6;

    background: #0A0909;
}

.park-item-7{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 5;

    background: #0E0E0E;

}

.client{
    min-height: 1054px;
    padding: 170px 0px 240px 0px;
}

.client-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
}

.client-item-1 , .client-item-2, .client-item-3, .client-item-4, .client-item-5, .client-item-6{
    width: 486px;
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item-1{
    background: #634F2C;
}

.client-item-2{
    background: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
}

.client-item-3{
    background: #E4B564;
}

.client-item-4{
    background: #635A4A;
    display: flex;
    flex-direction: column;
}

.client-item-5{
    background: #B08C4D;
}

.client-item-6{
    background: #634F2C;
}

.client-descr{
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.client-img{
    margin-top: 10px;
}
.client-wrapp{
    display: flex;
    justify-content: space-between;
}